<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creating Songs</title>
    <style>

        .container{text-align: left; padding: 30px 25px; }
        body{text-align: center;}
        section{text-align: center}
    </style>
</head>
<body>

<h1> Formulaire de création d'Album </h1>

    <section>
            <div class="container">

                <form action="{% url "adding_album" %}" method="POST">
                    {% csrf_token %}
                    <table>
                         {{ form.as_p }}
                    </table>



                    <input type="submit" value="Create">

                </form>
            </div>
        </section>

</body>
</html>