<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1> Formulaire de création d'Artist </h1>

 <section>
            <div class="container">

                <form action="{% url "adding_artist" %}" method="POST">
                    {% csrf_token %}
                    <table>
                         {{ form.as_p }}
                    </table>



                    <input type="submit" value="Create">

                </form>
            </div>
 </section>

</body>
</html>