<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {border-style: solid; border-color: green; border-collapse: collapse}
        td, th {padding: 10px 12px; text-align: left; border-style: solid; border-color: green}

    </style>
</head>
<body>
    <h1> Play list</h1>

    <table>
        <thead>
            <th>  <strong> Name   : </strong> </th>
            <th> <strong> duration: </strong></th>
            <th> <strong> album  : </strong> </th>
            <th> <strong> lyrics  : </strong> </th>
        </thead>

        <tbody>
             {% for elt in song %}

                <tr>
                    <td>  {{ elt.name}}</td>
                    <td> {{ elt.duration}}</td>
                    <td> {{ elt.album}}</td>
                    <td> {{ elt.lyrics}}</td>
                 </tr>



             {% endfor %}




        </tbody>



        <table>
            <thead>
                <th>  <strong> Name   : </strong> </th>
                <th> <strong> duration: </strong></th>
                <th> <strong> album  : </strong> </th>
                <th> <strong> lyrics  : </strong> </th>

            </thead>

            <tbody>

        {% for elt in album %}

                <tr>
                    <td>  {{ elt.name}}</td>
                    <td> {{ elt.duration}}</td>
                    <td> {{ elt.album}}</td>
                    <td> {{ elt.lyrics}}</td>
                 </tr>



             {% endfor %}

            </tbody>


        </table>

    </table>




</body>
</html>